<h2>{{'auth.login.title' | translate}}</h2>

<a ng-click="vm.logWithGoogle()" class="btn btn-google"><span class="icon"><i class="ic-google" svg-icon="google" fill="#fff"></i></span>{{'ui.button_google' | translate}}</a>
<a ng-click="vm.logWithLinkedIn()" class="btn btn-linkedin"><span class="icon"><i class="ic-linkedin" svg-icon="linkedIn" fill="#fff"></i></span>{{'ui.button_linkedin' | translate}}</a>

<div class="form-errors">
    <p class="error-message" ng-if="vm.errorMessagesSocial" ng-repeat="message in vm.errorMessagesSocial">{{message}}</p>
</div>

<p>or</p>

<form name="login" ng-submit="vm.submit()" novalidate>
    <div class="form-group">
        <input type="email" class="form-control" name="email" id="login-email" placeholder="{{'auth.login.placeholders.email' | translate}}" ng-model="vm.data.email" ng-pattern="regex.email" required>

        <div ng-if="login.$submitted" ng-messages="login.email.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
            <p class="error-message" ng-message="pattern">{{'errors.valid_email' | translate}}</p>
        </div>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" name="password" id="login-password" placeholder="{{'auth.login.placeholders.password' | translate}}" ng-model="vm.data.password" required>

        <div ng-if="login.$submitted" ng-messages="login.password.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
        </div>
    </div>

    <div class="form-errors">
        <p class="error-message" ng-if="vm.errorMessages" ng-repeat="message in vm.errorMessages">{{message}}</p>
    </div>

    <button type="submit" class="btn btn-default" ng-disabled="vm.isSubmitting">{{'ui.button_sign_in' | translate}}</button>

</form>

<a ui-sref="app.auth.forgotPassword" class="forgot-password">{{'auth.login.forgot_password' | translate}}</a>
<p class="no-account">{{'auth.login.no_account' | translate}}</p>
<a ui-sref="app.auth.register" class="signup">{{'ui.button_sign_up' | translate}}</a>

