<h2>{{'auth.forgot_password.title' | translate}}</h2>

<form name="forgot_password" ng-submit="vm.submit()" novalidate>
    <div class="form-group" ng-show="!vm.succeed">
        <input type="email" class="form-control" name="email" id="register-email" placeholder="{{'auth.sign_up.placeholders.email' | translate}}" ng-model="vm.data.email" ng-pattern="regex.email" required>

        <div ng-if="forgot_password.$submitted" ng-messages="forgot_password.email.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
            <p class="error-message" ng-message="email">{{'errors.valid_email' | translate}}</p>
        </div>
    </div>

    <div class="form-errors">
        <p class="error-message" ng-if="vm.errorMessages" ng-repeat="message in vm.errorMessages">{{message}}</p>
    </div>

    <p class="success-message black large" ng-if="vm.successMessages" ng-repeat="message in vm.successMessages" ng-bind-html="message"></p>

    <a ui-sref="app.auth.login" ng-show="vm.succeed" class="btn btn-default">{{'auth.forgot_password.back_to_login' | translate}}</a>
    <button ng-show="!vm.succeed" type="submit" class="btn btn-default" ng-disabled="vm.isSubmitting">{{'ui.button_submit' | translate}}</button>
</form>

<p class="no-account">{{'auth.sign_up.have_account' | translate}}</p>
<a ui-sref="app.auth.login" class="signup">{{'auth.login.title' | translate}}</a>