<div id="map" class="full-page"></div>

<div id="ui">
    <a class="add-btn" ng-click="vm.preparePinAdd()">Add near you</a>
    <img src="https://pokemon-go-c90f7.appspot.com/gym_icon.png" alt="">
</div>

<div class="add-pin modal" ng-show="vm.addModalOpen">
    <div class="mask"></div>
    <div class="modal-ctn">
        <a class="close" ng-click="vm.addModalOpen = false;">X</a>
        <form name="addPin" ng-submit="vm.submit()">
            <div class="row">
                <label for="add-type">Select type :</label>
                <select name="type" id="add-type" ng-model="vm.data.type">
                    <option value="gym">Gym</option>
                    <option value="pokestop">Pokestop</option>
                    <option value="pokemon">Pokemon</option>
                </select>
            </div>
            <div class="row" ng-show="vm.data.type == 'gym' || vm.data.type == 'pokestop'">
                <label for="add-type">Name :</label>
                <input type="text" ng-model="vm.data.name" ng-required="vm.data.type == 'gym' || vm.data.type == 'pokestop'" />
            </div>
            <div class="row" ng-show="vm.data.type == 'pokemon'">
                <label for="add-pokemon">Select pokemon :</label>
                <select name="pokemon" id="add-pokemon" ng-model="vm.data.pokemonID" ng-change="vm.loadNewImage()" ng-options="idx as choice.name for (idx, choice) in vm.pokemons track by choice.id" ng-required="vm.data.type == 'pokemon'">
                </select>
                <img ng-if="vm.pokemon_img" ng-src="{{vm.pokemon_img}}" width="150" alt="">
            </div>
            <div class="row submit">
                <input type="submit" />
            </div>
        </form>
    </div>
</div>