.anim-in-out.anim-in-setup.anim-fade, .anim-in-out.anim-in-setup .anim-fade {
  opacity: 0;
}
.anim-in-out.anim-in-setup.anim-slide-left, .anim-in-out.anim-in-setup .anim-slide-left {
  transform: translateX(100%);
}
.anim-in-out.anim-in-setup.anim-slide-right, .anim-in-out.anim-in-setup .anim-slide-right {
  transform: translateX(-100%);
}
.anim-in-out.anim-in-setup.anim-slide-below, .anim-in-out.anim-in-setup .anim-slide-below {
  transform: translateY(20px);
}
.anim-in-out.anim-in-setup.anim-slide-below-fade, .anim-in-out.anim-in-setup .anim-slide-below-fade {
  opacity: 0;
  transform: translateY(20px);
}
.anim-in-out.anim-in-setup.anim-zoom-out, .anim-in-out.anim-in-setup .anim-zoom-out {
  transform: scale(0.95);
}
.anim-in-out.anim-in-setup.anim-zoom-in, .anim-in-out.anim-in-setup .anim-zoom-in {
  transform: scale(1.025);
}
.anim-in-out.anim-in-setup.anim-zoom-out-full, .anim-in-out.anim-in-setup .anim-zoom-out-full {
  transform: scale(0);
}
.anim-in-out.anim-in-setup.anim-zoom-in-full, .anim-in-out.anim-in-setup .anim-zoom-in-full {
  transform: scale(10);
}
.anim-in-out.anim-in.anim-fade, .anim-in-out.anim-in .anim-fade {
  opacity: 1;
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-slide-left, .anim-in-out.anim-in .anim-slide-left {
  transform: translateX(0);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-slide-right, .anim-in-out.anim-in .anim-slide-right {
  transform: translateX(0);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-slide-below, .anim-in-out.anim-in .anim-slide-below {
  transform: translateY(0);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-slide-below-fade, .anim-in-out.anim-in .anim-slide-below-fade {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-zoom-out, .anim-in-out.anim-in .anim-zoom-out {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-zoom-in, .anim-in-out.anim-in .anim-zoom-in {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-zoom-out-full, .anim-in-out.anim-in .anim-zoom-out-full {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-in.anim-zoom-in-full, .anim-in-out.anim-in .anim-zoom-in-full {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-fade, .anim-in-out.anim-out-setup .anim-fade {
  opacity: 1;
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-slide-left, .anim-in-out.anim-out-setup .anim-slide-left {
  transform: translateX(0);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-slide-right, .anim-in-out.anim-out-setup .anim-slide-right {
  transform: translateX(0);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-slide-below, .anim-in-out.anim-out-setup .anim-slide-below {
  transform: translateY(0);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-slide-below-fade, .anim-in-out.anim-out-setup .anim-slide-below-fade {
  opacity: 1;
  transform: translateY(0);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-zoom-out, .anim-in-out.anim-out-setup .anim-zoom-out {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-zoom-in, .anim-in-out.anim-out-setup .anim-zoom-in {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-zoom-out-full, .anim-in-out.anim-out-setup .anim-zoom-out-full {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-out-setup.anim-zoom-in-full, .anim-in-out.anim-out-setup .anim-zoom-in-full {
  transform: scale(1);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-swap, .anim-in-out.anim-out .anim-swap {
  display: none;
}
.anim-in-out.anim-out.anim-fade, .anim-in-out.anim-out .anim-fade {
  opacity: 0;
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-slide-left, .anim-in-out.anim-out .anim-slide-left {
  transform: translateX(-100%);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-slide-right, .anim-in-out.anim-out .anim-slide-right {
  transform: translateX(100%);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-slide-below, .anim-in-out.anim-out .anim-slide-below {
  transform: translateY(20px);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-slide-below-fade, .anim-in-out.anim-out .anim-slide-below-fade {
  opacity: 0;
  transform: translateY(20px);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-zoom-out, .anim-in-out.anim-out .anim-zoom-out {
  transform: scale(0.95);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-zoom-in, .anim-in-out.anim-out .anim-zoom-in {
  transform: scale(1.025);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-zoom-out-full, .anim-in-out.anim-out .anim-zoom-out-full {
  transform: scale(0);
  transition: all 500ms;
}
.anim-in-out.anim-out.anim-zoom-in-full, .anim-in-out.anim-out .anim-zoom-in-full {
  transform: scale(10);
  transition: all 500ms;
}
