/*

@mixin color($color: rgb(255, 255, 255), $opacity: 1) {
	$inverseOpacity: (1 - $opacity) * 100;
	color: $color;// set color to $color to prevent browsers that do not support rgba //
	color: fadeout($color, $inverseOpacity);
}

@mixin bkg-color($color: rgb(255, 255, 255), $opacity: 1) {
	$inverseOpacity: (1 - $opacity) * 100;
	background-color: $color;// set background-color to $color to prevent browsers that do not support rgba //
	background-color: fadeout($color, $inverseOpacity);
}
*/
* {
  -webkit-tap-highlight-color: transparent;
  outline: none !important;
}

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
}

h1 {
  font-size: 20px;
  margin: 0.67em 0;
}

h2 {
  font-size: 20px;
  margin: 0.67em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

p {
  margin: 10px 0;
}

li {
  margin: 5px 0;
}

a {
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  color: #000000;
}
a:hover, a:active, a:focus {
  color: #82DA5B;
  text-decoration: none;
}

a img {
  outline: 0;
}

a:hover, a:focus, a:active, a:visited {
  outline: 0;
  text-decoration: none;
}

.ng-submitted input.ng-invalid, .ng-submitted select.ng-invalid {
  border: 1px solid #ff0052 !important;
}

input:invalid, select:invalid {
  box-shadow: none;
}

body, html {
  position: relative;
  min-width: 320px;
  background-color: #FFFFFF;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-smooth: antialiased;
  width: 100%;
  height: 100%;
  font-family: Arial;
}

body, html, .ctn {
  min-height: 100%;
}

input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 0;
}

#site-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.full-page {
  position: relative;
  width: 100%;
  height: 100%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

.text-hide {
  text-indent: -9999px;
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.hide-all {
  display: none;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
