/*

@mixin color($color: rgb(255, 255, 255), $opacity: 1) {
	$inverseOpacity: (1 - $opacity) * 100;
	color: $color;// set color to $color to prevent browsers that do not support rgba //
	color: fadeout($color, $inverseOpacity);
}

@mixin bkg-color($color: rgb(255, 255, 255), $opacity: 1) {
	$inverseOpacity: (1 - $opacity) * 100;
	background-color: $color;// set background-color to $color to prevent browsers that do not support rgba //
	background-color: fadeout($color, $inverseOpacity);
}
*/
#ui {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
#ui .add-btn {
  min-width: 300px;
  display: inline-block;
  background-color: red;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 2;
  text-align: center;
}
.modal .modal-ctn {
  position: relative;
  display: inline-block;
  background-color: violet;
  min-width: 300px;
  padding: 10px;
}
.modal .modal-ctn .close {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal .modal-ctn input, .modal .modal-ctn select {
  display: block;
  width: 100%;
  margin: 10px 0;
}
