// define class to add for all type and style of font
// .text-{{font}}() {font-family:'{{font}}, {{fallback}}'; font-weight:normal;}
// example:
// .text-bitter() {font-family: 'Bitter', 'bitterregular', georgia, serif; font-weight:normal;}

// --------------------------------------- VARIABLES ------------------------------------------ //
$baseFontSize: 16px;
$baseFontFamily: 'Arial', sans-serif;
$baseLineHeight: 16px;