// --------------------------------------- HELPERS ------------------------------------------- //
@mixin left() {float:left;};
@mixin right() {float:right;};
@mixin bold() {font-weight:bold;};
@mixin italic() {font-style:italic;}
@mixin caps() {text-transform:uppercase;}
@mixin underline() {text-decoration:underline;}
@mixin text-right() {text-align:right;}
@mixin text-center() {text-align:center;}
@mixin text-left() {text-align:left;}
@mixin text-hide() {text-indent:-9999px;}
@mixin hide() {display:none;}
// Hide visually and from screenreaders, but maintain layout
@mixin hidden() {visibility: hidden;}
@mixin background-size() {background-size: 100%;}


// need to test it to assure it will always work it for fixing redraw on mobiles
@mixin text-hide2() {text-indent:100%; white-space:nowrap; overflow:hidden;}


// ---------------------------------------- MIXING ------------------------------------------- //

// here is a list of the helper :
// .opacity($alpha); value:0 to 100, give an opacity to an element
// .roundcorner($size); create equal round corner around the element
// .box-sizing(); force boxmode of the element padding will be include in width.
// .no-select(); disable selection of the element.
// .clearfix(); apply to the parent of floating elements to clear the flow.
// .image-replace(); hide the text in the element to show only background.
// .color($color, $opacity); manage color with or without transparency : return the rgba color
// .bkg-color($color, $opacity); manage background-color with or without transparency : return the rgba background-color
// .centering($vertical:middle, $horizontal:center);
// .centering-with-image($vertical:middle, $horizontal:center);

@mixin opacity($alpha) {
	filter: "alpha(opacity=#{$alpha})";
	$alphaDivided: $alpha / 100;
	-khtml-opacity:$alphaDivided;
	-moz-opacity:$alphaDivided;
	opacity:$alphaDivided;
}

@mixin roundcorner($size) {
	-khtml-border-radius:$size;
	-moz-border-radius: $size;
	-webkit-border-radius: $size;
	border-radius: $size;
}

//fix to enable boxsizing ie6-7-8
@mixin box-sizing(){
	*behavior: url("../css/htc.boxsizing.htc");
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

@mixin no-select(){
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@mixin clearfix() {
	*zoom: 1;
	&:before, &:after {
		display: table;
		content: " ";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}

@mixin image-replace() {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	//IE 6/7 fallback
	*text-indent: -9999px;

	&:before {
		content: "";
		display: block;
		width: 0;
		height: 150%;
	}
}

@mixin transition-duration($duration){
	transition-duration: $duration;
	-moz-transition-duration: $duration;
	-o-transition-duration: $duration;
	-webkit-transition-duration: $duration;
}

@mixin transition-delay($duration){
	transition-delay: $duration;
	-moz-transition-delay: $duration;
	-o-transition-delay: $duration;
	-webkit-transition-delay: $duration;
}

@mixin transition-timing-function($ease){
	transition-timing-function: $ease;
	-moz-transition-timing-function: $ease;
	-o-transition-timing-function: $ease;
	-webkit-transition-timing-function: $ease;
}
@mixin transition-timing-function-f($ease){
	transition-timing-function: $ease !important;
	-moz-transition-timing-function: $ease !important;
	-o-transition-timing-function: $ease !important;
	-webkit-transition-timing-function: $ease !important;
}

@mixin transition-property($property){
	transition-property: $property;
	-moz-transition-property: $property;
	-o-transition-property: $property;
	-webkit-transition-property: $property;
}
/*

@mixin color($color: rgb(255, 255, 255), $opacity: 1) {
	$inverseOpacity: (1 - $opacity) * 100;
	color: $color;// set color to $color to prevent browsers that do not support rgba //
	color: fadeout($color, $inverseOpacity);
}

@mixin bkg-color($color: rgb(255, 255, 255), $opacity: 1) {
	$inverseOpacity: (1 - $opacity) * 100;
	background-color: $color;// set background-color to $color to prevent browsers that do not support rgba //
	background-color: fadeout($color, $inverseOpacity);
}
*/


@mixin centering($vertical:middle, $horizontal:center) {

	.centered-block {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: $horizontal;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: $vertical;
			height: 100%;
		}

		.centered {
			text-align: left;
			display: inline-block;
			vertical-align: $vertical;
		}
	}
}

@mixin centering-with-image($vertical:middle, $horizontal:center){
	position: relative;
	display: block;

	.centered-block {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: $horizontal;

		.centered {
			display: table;
			position: relative;
			height: 100%;
			width: 100%;

			.content-centered {
				display: table-cell;
				vertical-align: $vertical;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
}



@mixin graphik-regular() {
	font-family: 'GraphikRegular', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin graphik-medium() {
	font-family: 'GraphikMedium', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}

@mixin graphik-light() {
	font-family: 'GraphikLight', arial, sans-serif;
    -webkit-font-smoothing: antialiased;
}