// ------------------------------------------ COLORS ------------------------------------------ //
// $color: #color;
// example:
// http://www.color-blindness.com/color-name-hue/
$textBlack: #333333;
$textGrey:  #999999;
$grey: #a2a2a2;

$error: #ff0052;
$alert: #ff0000;

$success: #5fc600;

$warning: #ffaf00;

$menuBlue:   #262d37;
$uiBlue:     #37557c;
$pageBlue:   #007ab8;
$buttonBlue: #00aae0;


$black:            #000000;
$black-eclipse:    #3C3C3C;
$cornflower-blue:  #4FA6F7; //linkedIn button
$dodger-blue:      #1085f2; //linkedIn button border
$dark-olive-green: #518839; //Dashboard completed efforts
$dark-olive-green: #518839; //Dashboard completed efforts
$grey:             #818181;
$grey-dark:        #ADADAD;
$grey-dim:         #646464; //Border custom select
$grey-light:       #D1D1D1; //Border slider
$grey-light2:      #D5D5D5; //Border slider
$grey-silver:      #C3C3C3; //Border slider
$grey-mortar:      #575757; //Info title backlog info
$grey-suva:        #878787; //Info title backlog info
$grey-empress:     #737373; //Border left in strat nav
$nero:             #171717;
$nero2:            #222222; //Background of graphic in dashboard
$nero3:            #1E1E1E;
$nero4:            #292929;
$pale-green:       #99EE74;
$pastel-green:     #82DA5B;
$red-coral:        #FF4343;
$red-free-speech:  #D10000; //Offline circle
$red-orange:       #FF3838;
$salmon:           #FF7777; //google button
$white:            #FFFFFF;
$white2:           #FAFAFA; //Background of the app
$white-gainsbora:  #E8E8E8; //Border color lobby
$white-gainsboro:  #E1E1E1; //Border color lobby
$white-gainsboro2: #DEDEDE;
$white-smoke:      #F8F8F8; //Background color dropdowns
$white-smoke2:     #F0F0F0; //Hover background color dropdowns
$white-smoke3:     #f5f5f5; //empty list item background color
$white-smoke4:     #EBEBEB; //Border bottom sprint in dashboard

//dashboards color for epic
$candidate:        #EDEDED;
$candidate-border: #D2D2D2;
$epic-1:           #716EFF;
$epic-1-border:    #403BF8;
$epic-2:           #5FAAFF;
$epic-2-border:    #2D8FFF;
$epic-3:           #A453FF;
$epic-3-border:    #8D2EF6;
$epic-4:           #E33DFC;
$epic-4-border:    #CB14E7;
$epic-5:           #FFDD76;
$epic-5-border:    #F7C93F;
$epic-6:           #CA0EE6;
$epic-6-border:    #CA0EE6;
