$gutter-xlg: 0;
$half-gutter-xlg: $gutter-xlg / 2;

$gutter-lg: 0;
$half-gutter-lg: $gutter-lg / 2;

$gutter-md: 0;
$half-gutter-md: $gutter-md / 2;

$gutter-sm: 0;
$half-gutter-sm: $gutter-sm / 2;

$gutter-xs: 0;
$half-gutter-xs: $gutter-xs / 2;

$gutter-xxs: 0;
$half-gutter-xxs: $gutter-xxs / 2;
