$durationDefault: 1000ms;

$linear:            linear;
$ease:              ease;
$ease-in:           ease-in;
$ease-out:          ease-out;
$ease-in-out:       ease-in-out;

// Cubic
$easeInCubic    : cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic   : cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic : cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc     : cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc    : cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc  : cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo     : cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo    : cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo  : cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad     : cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad    : cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad  : cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart    : cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart   : cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart : cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint    : cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint   : cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint : cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine     : cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine    : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine  : cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack     : cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack    : cubic-bezier(0.175,  0.885, 0.320, 1.275);
$easeInOutBack  : cubic-bezier(0.680, -0.550, 0.265, 1.550);

@mixin linear($duration: $durationDefault) {
    -webkit-transition: all $duration $linear;
    -moz-transition:    all $duration $linear;
    -ms-transition:     all $duration $linear;
    -o-transition:      all $duration $linear;
    transition:         all $duration $linear;
}

@mixin ease($duration: $durationDefault) {
    -webkit-transition: all $duration $ease;
    -moz-transition:    all $duration $ease;
    -ms-transition:     all $duration $ease;
    -o-transition:      all $duration $ease;
    transition:         all $duration $ease;
}

@mixin ease-in($duration: $durationDefault) {
    -webkit-transition: all $duration $ease-in;
    -moz-transition:    all $duration $ease-in;
    -ms-transition:     all $duration $ease-in;
    -o-transition:      all $duration $ease-in;
    transition:         all $duration $ease-in;
}

@mixin ease-out($duration: $durationDefault) {
    -webkit-transition: all $duration $ease-out;
    -moz-transition:    all $duration $ease-out;
    -ms-transition:     all $duration $ease-out;
    -o-transition:      all $duration $ease-out;
    transition:         all $duration $ease-out;
}

@mixin ease-in-out($duration: $durationDefault) {
    -webkit-transition: all $duration $ease-in-out;
    -moz-transition:    all $duration $ease-in-out;
    -ms-transition:     all $duration $ease-in-out;
    -o-transition:      all $duration $ease-in-out;
    transition:         all $duration $ease-in-out;
}

@mixin easeInQuad($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -moz-transition:    all $duration cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -ms-transition:     all $duration cubic-bezier(0.550, 0.085, 0.680, 0.530);
    -o-transition:      all $duration cubic-bezier(0.550, 0.085, 0.680, 0.530);
    transition:         all $duration cubic-bezier(0.550, 0.085, 0.680, 0.530);
}

@mixin easeInCubic($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -moz-transition:    all $duration cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -ms-transition:     all $duration cubic-bezier(0.550, 0.055, 0.675, 0.190);
    -o-transition:      all $duration cubic-bezier(0.550, 0.055, 0.675, 0.190);
    transition:         all $duration cubic-bezier(0.550, 0.055, 0.675, 0.190);
}

@mixin easeInQuart($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.895, 0.030, 0.685, 0.220);
    -moz-transition:    all $duration cubic-bezier(0.895, 0.030, 0.685, 0.220);
    -ms-transition:     all $duration cubic-bezier(0.895, 0.030, 0.685, 0.220);
    -o-transition:      all $duration cubic-bezier(0.895, 0.030, 0.685, 0.220);
    transition:         all $duration cubic-bezier(0.895, 0.030, 0.685, 0.220);
}

@mixin easeInQuint($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -moz-transition:    all $duration cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -ms-transition:     all $duration cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -o-transition:      all $duration cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transition:         all $duration cubic-bezier(0.755, 0.050, 0.855, 0.060);
}

@mixin easeInSine($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.470, 0.000, 0.745, 0.715);
    -moz-transition:    all $duration cubic-bezier(0.470, 0.000, 0.745, 0.715);
    -ms-transition:     all $duration cubic-bezier(0.470, 0.000, 0.745, 0.715);
    -o-transition:      all $duration cubic-bezier(0.470, 0.000, 0.745, 0.715);
    transition:         all $duration cubic-bezier(0.470, 0.000, 0.745, 0.715);
}

@mixin easeInExpo($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.950, 0.050, 0.795, 0.035);
    -moz-transition:    all $duration cubic-bezier(0.950, 0.050, 0.795, 0.035);
    -ms-transition:     all $duration cubic-bezier(0.950, 0.050, 0.795, 0.035);
    -o-transition:      all $duration cubic-bezier(0.950, 0.050, 0.795, 0.035);
    transition:         all $duration cubic-bezier(0.950, 0.050, 0.795, 0.035);
}

@mixin easeInCirc($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.600, 0.040, 0.980, 0.335);
    -moz-transition:    all $duration cubic-bezier(0.600, 0.040, 0.980, 0.335);
    -ms-transition:     all $duration cubic-bezier(0.600, 0.040, 0.980, 0.335);
    -o-transition:      all $duration cubic-bezier(0.600, 0.040, 0.980, 0.335);
    transition:         all $duration cubic-bezier(0.600, 0.040, 0.980, 0.335);
}

@mixin easeInBack($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.600, 0, 0.735, 0.045); // older webkit
    -webkit-transition: all $duration cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition:    all $duration cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition:     all $duration cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition:      all $duration cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition:         all $duration cubic-bezier(0.600, -0.280, 0.735, 0.045);
}

@mixin easeOutQuad($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -moz-transition:    all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -ms-transition:     all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -o-transition:      all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940);
    transition:         all $duration cubic-bezier(0.250, 0.460, 0.450, 0.940);
}

@mixin easeOutCubic($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -o-transition:      all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transition:         all $duration cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

@mixin easeOutQuart($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.165, 0.840, 0.440, 1.000);
    -o-transition:      all $duration cubic-bezier(0.165, 0.840, 0.440, 1.000);
    transition:         all $duration cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

@mixin easeOutQuint($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.230, 1.000, 0.320, 1.000);
    -o-transition:      all $duration cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transition:         all $duration cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

@mixin easeOutSine($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.390, 0.575, 0.565, 1.000);
    -o-transition:      all $duration cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transition:         all $duration cubic-bezier(0.390, 0.575, 0.565, 1.000);
}

@mixin easeOutExpo($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.190, 1.000, 0.220, 1.000);
    -o-transition:      all $duration cubic-bezier(0.190, 1.000, 0.220, 1.000);
    transition:         all $duration cubic-bezier(0.190, 1.000, 0.220, 1.000);
}

@mixin easeOutCirc($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.075, 0.820, 0.165, 1.000);
    -o-transition:      all $duration cubic-bezier(0.075, 0.820, 0.165, 1.000);
    transition:         all $duration cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

@mixin easeOutBack($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1); // older webkit
    -webkit-transition: all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition:    all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition:     all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition:      all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition:         all $duration cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

@mixin easeInOutQuad($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -moz-transition:    all $duration cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -ms-transition:     all $duration cubic-bezier(0.455, 0.030, 0.515, 0.955);
    -o-transition:      all $duration cubic-bezier(0.455, 0.030, 0.515, 0.955);
    transition:         all $duration cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

@mixin easeInOutCubic($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.645, 0.045, 0.355, 1.000);
    -o-transition:      all $duration cubic-bezier(0.645, 0.045, 0.355, 1.000);
    transition:         all $duration cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

@mixin easeInOutQuart($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -o-transition:      all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
    transition:         all $duration cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

@mixin easeInOutQuint($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -moz-transition:    all $duration cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -ms-transition:     all $duration cubic-bezier(0.860, 0.000, 0.070, 1.000);
    -o-transition:      all $duration cubic-bezier(0.860, 0.000, 0.070, 1.000);
    transition:         all $duration cubic-bezier(0.860, 0.000, 0.070, 1.000);
}

@mixin easeInOutSine($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -moz-transition:    all $duration cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -ms-transition:     all $duration cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -o-transition:      all $duration cubic-bezier(0.445, 0.050, 0.550, 0.950);
    transition:         all $duration cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

@mixin easeInOutExpo($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-transition:    all $duration cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-transition:     all $duration cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -o-transition:      all $duration cubic-bezier(1.000, 0.000, 0.000, 1.000);
    transition:         all $duration cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

@mixin easeInOutCirc($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition:    all $duration cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition:     all $duration cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition:      all $duration cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition:         all $duration cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

@mixin easeInOutBack($duration: $durationDefault) {
    -webkit-transition: all $duration cubic-bezier(0.680, 0, 0.265, 1); // older webkit
    -webkit-transition: all $duration cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -moz-transition:    all $duration cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -ms-transition:     all $duration cubic-bezier(0.680, -0.550, 0.265, 1.550);
    -o-transition:      all $duration cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transition:         all $duration cubic-bezier(0.680, -0.550, 0.265, 1.550);
}