$screen-xlg-min: 1600px;

$screen-lg-max: ($screen-xlg-min - 1);
$screen-lg-min: 1200px;

$screen-md-max: ($screen-lg-min - 1);
$screen-md-min: 992px;

$screen-sm-max: ($screen-md-min - 1);
$screen-sm-min: 768px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-xs-min: 480px;

$screen-xxs-max: ($screen-xs-min - 1);