<div class="container auth-form" ng-show="vm.ctrlLoaded">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="logo"><img src="/public/images/logo.png" alt=""></div>
        <div ui-view class="anim-in-out anim-fade" data-anim-speed="250" style="position:absolute; left: 0; right: 0;"></div>
    </div>
</div>