<h2>{{'auth.sign_up.title' | translate}}</h2>

<a ng-click="vm.logWithGoogle()" class="btn btn-google"><span class="icon"><i class="ic-google" svg-icon="google" fill="#fff"></i></span>{{'ui.button_google' | translate}}</a>
<a ng-click="vm.logWithLinkedIn()" class="btn btn-linkedin"><span class="icon"><i class="ic-linkedin" svg-icon="linkedIn" fill="#fff"></i></span>{{'ui.button_linkedin' | translate}}</a>

<div class="form-errors">
    <p class="error-message" ng-if="vm.errorMessagesSocial" ng-repeat="message in vm.errorMessagesSocial">{{message}}</p>
</div>

<p>or</p>

<form name="register" ng-submit="vm.submit()" novalidate>
    <div class="form-group" ng-show="!vm.succeed">
        <input type="text" name="firstname" class="form-control half" id="register-firstname" placeholder="{{'auth.sign_up.placeholders.first_name' | translate}}" ng-model="vm.data.firstname" required><!--
        --><input type="text" name="lastname" class="form-control half" id="register-lastname" placeholder="{{'auth.sign_up.placeholders.last_name' | translate}}" ng-model="vm.data.lastname" required>

        <div ng-if="register.$submitted" ng-messages="register.firstname.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
        </div>

        <div ng-if="register.$submitted && getLength(register.firstname.$error) <= 0" ng-messages="register.lastname.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="!vm.succeed">
        <input type="email" name="email" class="form-control" id="register-email" placeholder="{{'auth.sign_up.placeholders.email' | translate}}" ng-model="vm.data.email" ng-pattern="regex.email" required>

        <div ng-if="register.$submitted" ng-messages="register.email.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
            <p class="error-message" ng-message="pattern">{{'errors.valid_email' | translate}}</p>
            <p class="error-message" ng-message="email">{{'errors.valid_email' | translate}}</p>
        </div>
    </div>

    <div class="form-group" ng-show="!vm.succeed">
        <input type="password" name="password" class="form-control" id="register-password" placeholder="{{'auth.sign_up.placeholders.password' | translate}}" ng-pattern="regex.password" ng-model="vm.data.password" required>

        <div ng-if="register.$submitted" ng-messages="register.password.$error" class="field-errors" role="alert">
            <p class="error-message" ng-message="required">{{'errors.required' | translate}}</p>
            <p class="error-message" ng-message="pattern">{{'errors.valid_password' | translate}}</p>
        </div>
    </div>

    <div class="form-errors">
        <p class="error-message" ng-if="vm.errorMessages" ng-repeat="message in vm.errorMessages">{{message}}</p>
    </div>

    <p class="success-message black large" ng-if="vm.successMessages" ng-repeat="message in vm.successMessages" ng-bind-html="message"></p>

    <button  ng-show="!vm.succeed" type="submit" class="btn btn-default" ng-disabled="vm.isSubmitting">{{'ui.button_sign_up' | translate}}</button>
</form>

<p class="no-account">{{'auth.sign_up.have_account' | translate}}</p>

<a ui-sref="app.auth.login" class="signup">{{'auth.login.title' | translate}}</a>
