@import "app.config/app.config";
@import "app.config/app.mixins";

// ------------------------------------------------- OTHERS CLASS --------------------------------------------------- //

// ------------------------------------------------- ERROR CLASSES -------------------------------------------------- //
.error {
    border-color: #F24368 !important;
}

// ------------------------------------------------- LINERS CLASS --------------------------------------------------- //
.liner-h {height:1px; font-size:0; line-height:0; background-color:#e1e1e1;}
.liner-v {width:1px; height:100%; font-size:0; line-height:0; background-color:#e1e1e1;}

// ------------------------------------------------- NOTICE CLASS --------------------------------------------------- //
.notice_box {width:100%;}
.notice_box.error .inside {background-color: #FFECCE; border-color: #E9C59B; color: #E8302C; margin:0 auto;}
.notice_box.success .inside {background-color: #EDFBD8; border-color: #BFDE84; color: #508600; margin:0 auto;}
.notice_box.warning .inside .img {margin-top: 4px;}
.notice_box .inside {border: 1px solid; height: 31px;}
.notice_box .inside .img {margin-left: 5px; margin-top: 8px;}
.notice_box .inside .close_btn {cursor: pointer; margin-right: 5px; margin-top: 7px;}
.notice_box .inside .text {font-weight: bold; margin-left: 5px; margin-top: 7px;}

//@import "app.ui/ui.decision";