@import "app.config/app.config";
@import "app.config/app.mixins";

* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	outline: none !important;
}

input, textarea {
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 0
}

//EM CONVERTER = http://riddle.pl/emcalc/
h1 {
	font-size: 20px;
	margin: 0.67em 0;
}

h2 {
	font-size: 20px;
	margin: 0.67em 0;
}


h3 {
	font-size: 1.17em;
	margin: 1em 0;
}

h4 {
	font-size: 1em;
	margin: 1.33em 0;
}

h5 {
	font-size: 0.83em;
	margin: 1.67em 0;
}

h6 {
	font-size: 0.67em;
	margin: 2.33em 0;
}

p {
	margin: 10px 0;
}

li {
	margin: 5px 0;
}

a {
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: color 0.15s ease-in-out;
	-moz-transition: color 0.15s ease-in-out;
	-o-transition: color 0.15s ease-in-out;
	transition: color 0.15s ease-in-out;
    color:$black;

    &:hover, &:active, &:focus {
        color:$pastel-green;
        text-decoration: none;
    }
}

a img {
	outline: 0;
}

a:hover, a:focus, a:active, a:visited {
	outline: 0;
	text-decoration: none;
}

.ng-submitted{
	input, select {
		&.ng-invalid {
			border: 1px solid $error !important;
		}
	}
}

input, select {
	&:invalid {
		box-shadow: none;
	}
}

// ---------------------------------------------- USER DEFINED STYLE ----------------------------------------------- //

body, html {
	position: relative;
	min-width: 320px;
	background-color: $white;
	font-size: $baseFontSize;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-smooth: antialiased;
	width: 100%;
	height: 100%;
	font-family: Arial;
}

body, html, .ctn{
	min-height: 100%;
}

input, textarea {
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 0
}

#site-main {
	position: relative;
	width: 100%;
	height: 100%;
}

.full-page {
	position: relative;
	width: 100%;
	height: 100%;
}

// ---------------------------------------------- INLINE HELPERS CLASS ----------------------------------------------- //
.left {
	float: left;
}

.right {
	float: right;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.caps {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.text-hide {
	text-indent: -9999px;
}

.hide {
	display: none;
}

.hidden {
	visibility: hidden;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.hide-all {
	display: none;
	visibility: hidden;
}

.clearfix {
	*zoom: 1;
	&:before, &:after {
		display: table;
		content: " ";
		line-height: 0;
	}
	&:after {
		clear: both;
	}
}