@import "app.config/app.config";
@import "app.config/app.mixins";

#ui {
	position: absolute;
	z-index: 1;
	bottom:0;
	left:0;
	right:0;
	text-align: center;

	.add-btn {
		min-width: 300px;
		display: inline-block;
		background-color: red;
		padding: 10px;
	}
}

.modal {
	position: fixed;
	top: 50px;
	left: 0;
	right: 0;
	z-index: 2;
	text-align: center;

	.modal-ctn {
		position: relative;
		display: inline-block;
		background-color: violet;
		min-width: 300px;
		padding: 10px;
		
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
		}

		input, select {
			display: block;
			width: 100%;
			margin: 10px 0;
		}
	}
}